html.isOpen{
  overflow: hidden;
}
body {
   /* background-image: url("/static/img/bg.jpg"); */
  background-image: url(../assets/img/bg.jpg);
}

.item-list {
  overflow: hidden;
  width: 70%;
  margin: 60px auto 0;
}