html.isOpen {
  overflow: hidden;
}

body {
  background-image: url(../assets/img/bg.jpg);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 45px;
  width: 100px;
  background-image: url(../assets/img/logo_t.png);
  background-size: cover;
}

.item-list {
  overflow: hidden;
  width: 1240px;
  margin: 60px auto 0;
}

@media (max-width: 1024px) {
  .logo {
    top: -55px;
    left: 15px;
  }
  .item-list {
    width: 100%;
  }
}

/* @font-face {
  font-family: "飞驰标题体";
  src: url("../assets/fonts/飞驰标题体.ttf") format("truetype");
} */

.switch-box {
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
}

.switch-label, .switch-btn {
  height: 25px;
  line-height: 25px;
  float: left;
}

.switch-label {
  padding-right: 5px;
}

.switch-btn {
  position: relative;
  width: 55px;
  background-color: #ffffff5e;
  border-radius: 26px;
}

.switch-btn::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background-color: #fff;
  transition: left 0.3s;
}

.switch-box.active .switch-btn::before {
  left: 30px;
}

.switch-box.active .switch-btn {
  background-color: #ff9800;
}

.ctrl-panel {
  margin-bottom: 10px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .ctrl-panel {
    padding: 0 5px;
  }
}

.btn {
  float: left;
  height: 25px;
  line-height: 25px;
  color: #fff;
  background-color: #ffffff4f;
  padding: 0 10px;
  border-radius: 2px;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffffff36;
}

.collect-status .prop-item {
  opacity: 0.6;
}

.collect-status .prop-item.collect {
  opacity: 1;
}

.close-layer {
  color: #c5c5c5;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 0 8px 0 8px;
  cursor: pointer;
}

.close-layer:hover {
  color: #ff6161;
  background-color: #ffeeee;
}

.switch-ctrl {
  color: #fff;
  background-color: #ffffff2b;
  overflow: hidden;
  padding-left: 10px;
  float: left;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
}

.switch-label {
  float: left;
  color: gainsboro;
  margin-right: 10px;
  font-size: 12px;
}

.switch-item {
  float: left;
  padding: 0 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.switch-item:hover {
  background-color: #ffffff29;
}

.switch-item.active {
  background-color: #ffffff54;
}

.left {
  float: left;
}

.right {
  float: right;
}